.box {
  height: 100px;
  width: 200px;
  background-color: bg-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  border: 5px solid purple;
  border-radius: 10px;
  box-shadow: 10px 5px 5px purple;
}
